body {
   background-color: grey;
}

h1 {
   text-align: center;
   color: #990000;
   text-transform: uppercase;
}

h2 {
   text-align: center;
   color: green;
}

h3 {
   text-align: center;
   color: green;
}

p {
	/*text-indent: 50px;*/
	line-height: 0.8;
}